<div class="container content">
   <div class="page-header">
     <div class="container">
       <h1>Ruteo Simple</h1>
       <div class="navLinks">
         <a [routerLink]="['/Home']">Home</a>
         <a [routerLink]="['/destino']">Home</a>
       </div>
     </div>
   </div>

  <div class="row">
    <h6>Angular Project</h6>
  </div>
  <router-outlet></router-outlet>
</div>

<hr class="mb-5">
Fecha: {{time | async}}